<ion-content>
  <main class="flex-shrink-0 main has-footer">
 
      <header class="header">
          <div class="row">
              <div class="col-auto px-0">
                  <a (click)="this.helper.ShowMenu()" class=" btn btn-40 btn-link">
                      <span class="material-icons">menu</span>                     
                  </a>
              </div>
              
              <h6 class="navbar-dash" style="margin-top: 10px !important;">Users</h6>
              <!-- <div class="ml-auto col-auto pl-0">

                  <a (click)="nav.goto_notification()" class=" btn btn-40 btn-link">
                      <span class="material-icons">notifications_none</span>
            <span class="counter"></span>
                      <span class="badge" style="padding: 0% !important;">{{this.api.NCount}}</span>
                     
                  </a>
              </div> -->
          </div>
          
      </header>
      <div class="main-container">
        <div class="container">
            <div class="card mb-4">
              <div class="card-header border-0 bg-none">
                  <div class="row">
                      <div class="col align-self-center">
                          <h6 class="mb-0">All Proposals</h6>
                      </div>
                  </div>
              </div>

              <div class="card-body p-0" >
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="all font-weight-medium">Title</th>
                      
                            <th class="min-tablet font-weight-medium">From/To</th>
                            <th class=" font-weight-medium">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of ProposalList">
                        <tr *ngIf="item.isActive===true">
                            <td><small>{{(item.Description.length>9)? (item.Description | slice:0:9)+'..':(item.Description)}}</small></td>
                        
                            <td>
                                <div class="media">
  
                                    <div class="media-body">
                                        <p class="mb-0 small">{{item.Porposal_Sent_By.FirstName}}/{{item.Post_Created_By.FirstName}}</p>
                                         <p class="text-success small" *ngIf="item.Status=='C'">Proposal Accepted</p>
                                        <p class="text-danger small" *ngIf="item.Status=='R'">Proposal Rejected</p> 
                                        <p class="text-warning small" *ngIf="item.Status=='P'">Proposal Pending</p> 
                                        <p class="text-success ">Price Rs{{item.Price}}</p> 
                                      </div>
                                </div>
                            </td>
                            <td>
                                <div class="btn-primary btn btn-sm btn-30 rounded" (click)="presentActionSheet(item.key,item)">
                                  <span class="material-icons text-white">edit</span>
                                </div>
                                <!-- <div class="btn-success btn btn-sm btn-30 rounded" (click)="presentActionSheet(item.key,item.DeleverToInfluencer)" *ngIf="item.DeleverToInfluencer==true">C</div> -->
                              </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>

            
          </div>

          <div class="card mb-4">
            <div class="card-header border-0 bg-none">
                <div class="row">
                    <div class="col align-self-center">
                        <h6 class="mb-0">Hided Proposals</h6>
                    </div>
                </div>
            </div>

            <div class="card-body p-0" >
              <table class="table mb-0">
                  <thead>
                      <tr>
                          <th class="all font-weight-medium">Title</th>
                    
                          <th class="min-tablet font-weight-medium">From/To</th>
                          <th class=" font-weight-medium">Action</th>
                      </tr>
                  </thead>
                  <tbody *ngFor="let item of ProposalList">
                      <tr *ngIf="item.isActive===false">
                          <td><small>{{(item.Description.length>9)? (item.Description | slice:0:9)+'..':(item.Description)}}</small></td>
                      
                          <td>
                              <div class="media">

                                  <div class="media-body">
                                      <p class="mb-0 small">{{item.Porposal_Sent_By.FirstName}}/{{item.Post_Created_By.FirstName}}</p>
                                      <p class="text-success small" *ngIf="item.Status=='C'">Proposal Accepted</p>
                                      <p class="text-danger small" *ngIf="item.Status=='R'">Proposal Rejected</p> 
                                      <p class="text-warning small" *ngIf="item.Status=='P'">Proposal Pending</p> 
                                      <p class="text-success ">Price Rs{{item.Price}}</p> 
                                    </div>
                              </div>
                          </td>
                          <td>
                              <div class="btn-primary btn btn-sm btn-30 rounded" (click)="presentActionSheet(item.key,item,1)">
                                <span class="material-icons text-white">edit</span>
                              </div>
                              <!-- <div class="btn-success btn btn-sm btn-30 rounded" (click)="presentActionSheet(item.key,item.DeleverToInfluencer)" *ngIf="item.DeleverToInfluencer==true">C</div> -->
                            </td>
                      </tr>
                     
                  </tbody>
              </table>
          </div>

          
        </div>

        </div>
    </div>
  </main>
</ion-content>
