.segment-button-checked{
    color: #ffffff !important;
    font-weight: 400;
    font-size: 11px;
    
    
}
ion-segment{
    margin: 0px;
    color: white !important;
   
    
}

.icons{
    // font-weight: 400;
    font-size: 18px;
}

ion-segment-button{ 
    color: white !important;
    font-weight: normal;
    font-size: 10px;

}


.line{
      border-bottom: solid 1px white !important ;

}

.edit{
    background-color: rgb(22, 169, 22) !important;
}
