
<ion-content>
  <main class="flex-shrink-0 main has-footer">
    <div class="main-container h-100">
      <div class="container h-100">
          <div class="row h-100">
              <div class="col-12 col-md-6 col-lg-4 align-self-center text-center my-3 mx-auto">
                  <div class="icon icon-120 bg-success-light text-success rounded-circle mb-3">
                      <i class="material-icons display-4">redeem</i>
                  </div>
                  <h2>Congratulation!</h2>
                  <h6 class="text-secondary mb-3">Your order has been placed </h6>
                  <p class="text-secondary">Thank you for accepting proposal your order will be delivered as mentioned days and we will notify you soon via your registered email address</p>
              </div>
          </div>
      </div>
      <div class="row h-100">
        <div class="col-12 col-md-6 col-lg-4 align-self-center text-center my-3 mx-auto">
          <div class="container text-center mt-3">
            <a class="btn btn-default btn-lg mb-2 mx-auto rounded" (click)="TrackOrder(OrderID)">Track Order</a>
        </div>
        <div class="container text-center mt-3">
          <a class="btn btn-default btn-lg mb-2 mx-auto rounded" (click)="GotoBizdash()">Dashboard</a>
      </div>
        </div>
    </div>
    </div>

  </main>
</ion-content>