
    .codeinput {
        border: 2px solid white;
        background-color: transparent;
       
        padding: 5px 0px;
        font-size: 25px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-right: 6px;
        align-items: center;
        align-self: center;
        position: relative;
        width: 100%;
        text-align: center;
        color: white;
        
      }
      .ClasTxt {
        color: white;
      }
      .TxtDarkgrey {
        color: #5F5F5F;
  
        font-weight: 600;
        /* #333348 */
  
      }
      .clasresend {
        font-size: 12px;
        padding-top: 8px;
      }
      .text-left {
        float: left !important;
      }
      .text-right {
        float: right;
      }

      .box:focus{
        outline: none !important;
      }
