<ion-content>

    <!-- Begin page content -->
    <main class="flex-shrink-0 main has-footer">
        <!-- Fixed navbar -->
        <ion-header class="header">
            <div class="row">
                <div class="col-auto px-0">
                    <button class="btn btn-40 btn-link back-btn" type="button" (click)="goto_login()">
                        <ion-icon style="font-size: 20px" name="arrow-back-sharp"></ion-icon>
                    </button>
                </div>
                <div class="text-left col align-self-center">

                </div>
                <!-- <div class="ml-auto col-auto align-self-center" (click)="goto_login()">
                    <button  class="btn btn-default rounded btn-block">Sign in</button> 
                </div> -->
            </div>
        </ion-header>


        <div class="container h-100 text-white" *ngIf="step==1">
            <div class="row h-100">
                <div class="col-12 align-self-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                            <h2 class="font-weight-normal mb-3">Forgot<br>your password?</h2>
                            <p class="mb-3">Provide your registered email address to change password.</p>
                            <div class="form-group float-label active">
                                <input type="email" [(ngModel)]="Email"  class="form-control text-white">
                                <label class="form-control-label text-white">Email</label>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="row justify-content-center">

                <div class="col">
                    <a class="btn btn-default rounded btn-block" (click)="CheckEmailExist()">Send Email</a>
                </div>
            </div>
        </div>
        <ion-row  *ngIf="step==2">
            <ion-col>
                <div class="container-fluid">
                    <p class="mb-1 ClasTxt">We have sent you an verification code on your provided email address</p>
                    <h5 class="ClasTxt">Enter code verification here</h5>
                    <div style="    display: flex;justify-content: center;align-items: center;">
                        <input class="codeinput box" type="tel" id="code_1" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code1" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                        <input class="codeinput box" type="tel" id="code_2" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code2" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                        <input class="codeinput box" type="tel" id="code_3" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code3" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                        <input class="codeinput box" type="tel" id="code_4" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code4" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                        <input class="codeinput box" type="tel" id="code_5" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code5" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                        <input class="codeinput box" type="tel" id="code_6" (keyup)="VerificationCode($event)" [(ngModel)]="Code.code6" maxLength="1" size="1" min="0" max="1"
                            pattern="[0-9]{1}" />
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
    
                    <div class="col">
                        <a  class="btn btn-default rounded btn-block" (click)="VerifyCode()">Verify Now</a>
                    </div>
                    <div class="col" *ngIf="this.Pressed==true">
                        <a  class="btn btn-default rounded btn-block" (click)="ResendCode()">Resend Email</a>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <div class="container h-100 text-white"  *ngIf="step==3">
            <div class="row h-100">
                <div class="col-12 align-self-center mb-4">
                    <div class="row justify-content-center">
                        <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                            <p class="mb-3">Create your new password to </p>
                            <div class="form-group float-label active">
                                <input type="password" class="form-control text-white" [(ngModel)]="Password">
                                <label class="form-control-label text-white">Create Password</label>
                            </div>

                            <div class="form-group float-label active">
                                <input type="password" class="form-control text-white" [(ngModel)]="ConfirmPassword">
                                <label class="form-control-label text-white">Confirm Password</label>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <div class="row justify-content-center">

                <div class="col">
                    <a class="btn btn-default rounded btn-block" (click)="ConfirmChange()">Reset Password</a>
                </div>
            </div>
        </div>
    </main>
</ion-content>