<ion-content>
  <main class="flex-shrink-0 main has-footer">
 
      <header class="header">
          <div class="row">
              <div class="col-auto px-0">
                  <a (click)="this.helper.ShowMenu()" class=" btn btn-40 btn-link">
                      <span class="material-icons">menu</span>                     
                  </a>
              </div>
              
              <h6 class="navbar-dash" style="margin-top: 10px !important;">Influencer Payments</h6>
              <!-- <div class="ml-auto col-auto pl-0">

                  <a (click)="nav.goto_notification()" class=" btn btn-40 btn-link">
                      <span class="material-icons">notifications_none</span>
            <span class="counter"></span>
                      <span class="badge" style="padding: 0% !important;">{{this.api.NCount}}</span>
                     
                  </a>
              </div> -->
          </div>
          
      </header>
      <div class="main-container">
        <div class="container">
            <div class="card mb-4">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col align-self-center">
                            <h6 class="mb-0">Pending Influencer Payment</h6>
                        </div>
                    </div>
                </div>

                <div class="card-body p-0" >
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="all font-weight-medium">Amount</th>
                                <th class="min-tablet font-weight-medium">Order From/To</th>
                                <th class=" font-weight-medium">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of TransactionList">
                            <tr *ngIf="item.DeleverToInfluencer==false">
                                <td>Rs{{item.FinalAmount.toFixed(0)}}</td>
                                <td>
                                    <div class="media">
      
                                        <div class="media-body">
                                            <p class="mb-0">{{item.BizmanName}}/{{item.InfluencerName}}</p>
                                            <p class="text-success small" *ngIf="item.isSubmited==true && item.isReviewed==true">Order Completed</p>
                                            <p class="text-danger small" *ngIf="item.isSubmited==false && item.isReviewed==false">Order Incomplete</p>
                                            <p class="text-warning small" *ngIf="item.isSubmited==true && item.isReviewed==false">Waiting for Review</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-warning btn btn-sm btn-40 rounded" (click)="presentActionSheet(item.key,item,item.DeleverToInfluencer)" *ngIf="item.DeleverToInfluencer==false">Pay</div>
                                    <!-- <div class="btn-success btn btn-sm btn-30 rounded" (click)="presentActionSheet(item.key,item.DeleverToInfluencer)" *ngIf="item.DeleverToInfluencer==true">C</div> -->
                                  </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-header border-0 bg-none">
                    <div class="row">
                        <div class="col align-self-center">
                            <h6 class="mb-0">Payment Transfered</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">OrderNo</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of TransactionList">
                              <tr *ngIf="item.DeleverToInfluencer==true">
                                    
                                    <td>{{item.OrderNo}}</td>
                                    <td>{{item.InfluencerName}}</td>
                                    <td>{{item.FinalAmount}}</td>
                                </tr>
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
</ion-content>
